<form [formGroup]="formulario" action="" class="row mt-4 ">
    <div class="col-sm-6 mb-2">
        <label for="inputCuenta" class="form-label">Cuenta</label>
        <select id="inputCuenta" class="form-select" formControlName="cuenta">
            <option selected value="" >Seleccione una cuenta</option>
            <option *ngFor="let cuenta of cuentas" [value]="cuenta.id">{{cuenta.nombre}}</option>
          </select>
    </div>

    <div class="col-sm-6 mb-2">
      <label for="inputState" class="form-label">Proveedor</label>
      <select id="inputState" class="form-select" formControlName="proveedor">
        <option selected value="">Seleccione una cuenta</option >
        <option >Mi Entretenimiento</option>
        <option >My Pantalla</option>
        <option >Cop Digital</option>
        <option >Mercado Pago</option>
        <option >Rappi</option>
        <option >Combo Digital</option>
      </select>
  </div>

    <div class="col-sm-6 mb-2">
        <label for="inputEmail4" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputEmail4" formControlName="correo">
    </div>
    <div class="col-sm-6 mb-2">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="inputPassword4" formControlName="password">
    </div>
    <div class="col-sm-6 mb-2">
        <label for="inputPerfil" class="form-label">Perfil</label>
        <input type="text" class="form-control" id="inputPerfil" formControlName="perfil">
    </div>
    <div class="col-sm-6 mb-2">
        <label for="inputPin" class="form-label">Pin</label>
        <input type="text" class="form-control" id="inputPin" formControlName="pin">
    </div>



    <div class="col-12 mb-3" *ngIf="formulario.valid">
        <a (click)="agregar()"> <img class="img-fluid mx-auto d-block mt-5" width="40px" src="../assets/mas.png" alt=""></a>
    </div>
</form>
